*{
    margin: 0;
    font-family: "work sans";

}
/* Header Styles */
.header{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    height: 808px;
    display: block;
    justify-self: center;
    padding-left: 50%;
    padding-right: 10%;
}
.header-section{
    padding-top: 50%;
}
.header .header-section h1{
    font-size: 60px;
    text-align: right;
}

.header .header-section p{
    padding-top: 24px;
    font-size: 16px;
    text-align: right;
}

.header .header-section .btn{
    color: white;
    font-weight: 600;
    background-color: #f15b22;
    font-size: 20px;
    margin-top: 24px;
    width: 150px;
    height: 64px;
    margin-left: 72%;
    border: 0;
    border-radius: 5px;
}

/* Failure Section Styles */
.my-failure{
    margin-top: 130px;
}
.my-failure .my-failure-div{
    display: flex;
    justify-content: center;
    gap: 85px;
}
.my-failure .my-failure-div div{
    padding-top: 20%;
    padding-right: 10%;
}

.my-failure .my-failure-div div h2{
    font-size: 40px;
    padding-bottom: 24px;
}
.my-failure .my-failure-div img{
    padding-left: 10%;
}
.my-failure .my-failure-div ul{
    padding-top: 10px;
    list-style: url(../images/icons/check\ 1.png);
}

