* {
    margin: 0;
    font-family: "work sans";
}

* p {
    color: #737272;

}

/* Header Styles */
.header {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    height: 808px;
    display: block;
    justify-self: center;
    padding-left: 50%;
    padding-right: 10%;
}

.header-section {
    padding-top: 50%;
}

.header .header-section h1 {
    font-size: 60px;
    text-align: right;
}

.header .header-section p {
    color: #737272;
    padding-top: 24px;
    font-size: 16px;
    text-align: right;
}

.header .header-section .btn {
    color: white;
    font-weight: 600;
    background-color: #f15b22;
    font-size: 20px;
    margin-top: 24px;
    width: 150px;
    height: 64px;
    margin-left: 72%;
    border: 0;
    border-radius: 5px;
}

/* Failure Section Styles */
.my-failure {
    margin-top: 130px;
}

.my-failure .my-failure-div {
    display: flex;
    justify-content: center;
    gap: 85px;
}

.my-failure .my-failure-div div {
    padding-top: 20%;
    padding-right: 10%;
}

.my-failure .my-failure-div div p {
    color: #737272;
}

.my-failure .my-failure-div div h2 {
    font-size: 40px;
    padding-bottom: 24px;
}

.my-failure .my-failure-div img {
    padding-left: 10%;
}

.my-failure .my-failure-div ul {
    color: #737272;
    padding-top: 10px;
    list-style: url(../images/icons/check\ 1.png);
}

/* My plans Styles */
.my-plans{
    margin-top: 130px;
}
.my-plans h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 60px;
}

.plans-items {
    display: flex;
    gap: 150px;
    padding-left: 10%;
}

.plans-items div {
    display: block;
    align-items: center;
    text-align: center;
}
.plans-items div img{
    padding-bottom: 14px;
}
.plans-items div h2{
    padding-bottom: 14px;
}

/* call now styles */
.call-now{
    margin-top: 130px;
}
.call-now-div{
    background-image: url(../images/gradient2.png), url(../images/watch.png);
    background-repeat: no-repeat;
    width: 72%;
    height: 200px;
    border-radius: 10px;
    padding-left: 5%;
    padding:5% 5%;
    margin-left: 10%;
}

.call-now-div h2{
    color: white;
    font-size: 40px;
    padding-bottom: 24px;
}

.call-now-btn{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    color: #f15b22;
}

/* footer styles */
.footer{
    display: flex;
    gap: 333px;
    height: 550px;
    background-color: black;
    margin-top: 130px;
}
.footer .contact{
    padding-left: 10%;
    padding-top: 10%;
}
.footer .contact h1, p{
    padding-bottom: 16px;
    color: white;
    font-weight: 200;
}

.footer .contact h1{
    font-size: 45px;
    font-weight: 600;
}
.footer .contact p{
    font-size: 16px;
    padding-bottom: 24px;
    width: 485px;
}
.footer .contact div{
    display: flex;
    gap: 40px;
}

.footer .subscribe{
    padding-top: 10%;
}
.footer .subscribe h2{
    color: white;
    font-size: 25px;
    font-weight: 600; 
    padding-bottom: 24px; 
}
.footer .subscribe div{
    display: block;
}
.footer .subscribe input{
    padding-left: 10px;
    background-color: black;
    width: 270px;
    height: 56px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 16px;
}
